.App{
  margin: 1% 5%;
  width: auto;
  align-items: center;
}

header{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 3rem;
font-weight: bold;
color: black;
text-align: center;
}

form{
  display: block;
  background-color: aquamarine;
  padding: 2rem;
  border-radius: 5px;
}

label{
  display: block;
  padding-top: 1rem;
  color: aliceblue;
  font-weight: bold;
}

input{
  margin-left: 1rem;
}

button{
background-color: thistle;
border:none;
margin: 1rem;
padding: 0.8rem 1rem;
font-size: medium;
border-radius: 1rem;
font-weight: bold;
color: aliceblue;
}

.FileBase{
  margin-top: 2rem;
font-size: large;
}

img{
width: 100%;
max-height: 25vh;
}

.Display{
  background-color: antiquewhite;
  border-radius: 10px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: stretch;
}

.Card{
  max-height: 25vh;
  margin: 2rem 1rem;
}

.CardDetails{
  padding: 0%;
  margin-top: -3rem;
}

h1{
  margin: 0;
}
h2{
  margin-top: 0;
}

